.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('./img/bg.jpg') no-repeat center center /cover;
}
.content {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}